RPC_URL=https://evmrpc.0g.ai
NETWORK=zgMainnet

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root123
MYSQL_DATABASE=og_compute_revenue

START_BLOCK=30326147
END_BLOCK=
BLOCK_BATCH_SIZE=2000
SYNC_INTERVAL_MS=20000
SERVER_PORT=3200
DEFAULT_BUCKET_MINUTES=60
